@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    When a founder is looking to raise capital for their company, a fair amount of thought will go in to their pitch deck. They will share their deck with potential investors 
    to help sell investors on why they should invest in the company. To make raising money as simple as possible, founders who have already built a pitch deck can upload it, 
    and the pitch deck will be displayed on their profile page.
</p>
<p>
    This simple tool allows a user to upload their pitch deck and display it on a web page.
</p>
