@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Scott Stanelle<br />
    3560 Kirkwood Drive<br />
    San Jose, CA 95117<br />
    <strong>Phone:</strong> (408) 568-4686<br />
    <strong>Email:</strong> <a href="mailto:scottestanelle@gmail.com">scottestanelle@gmail.com</a>
</address>